

/* le damos estilos al elemento unidad dentro de las cards */

.card{

    outline: none;/*Es cuando paso el tabulador por arriba se selecciona no es un borde es la prop putline*/
    // color: rgb(219, 20, 20);
    flex-grow: 1;    /* las tarjetas pueden crecer ajustandose al contenedor */
    max-width: 200px;
    height: 400px;
    // box-shadow: 0 1px 5px rgba(0,0,0, .2),0 0px 3px rgba(0,0,0, .5);
    border-radius: 16px 16px 0 0 ;
    overflow: hidden;
    transition: all .2s;
    text-decoration: none;
    padding: 0em;



    &:hover,
    &:focus{
    
         background-image: url(../img/fondos/paven.png);
         -moz-transform: scale(1.05);
         -webkit-animation-play-statesform: scale(1.05);
         transform: scale(1.05);
         transform-origin: bottom ;
        //  background-color: rgba(0, 0, 0, .4);
         -webkit-box-shadow: 8px 5px 14px 5px rgba(153,149,145,1);
         -moz-box-shadow: 8px 5px 14px 5px rgba(153,149,145,1);
         box-shadow: 8px 5px 14px 5px rgba(153,149,145,1);
        
         
  
        }
    
    /* contenedor de la Imagen */
  
    
    &__image-container {
        height: 210px;
         background-color: rgb(179, 179, 185); 
         overflow: hidden; 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
        clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
    }
    
    &:hover &__image-container,
    &:focus &__image-container {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
        clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s;
        border-radius: 7px 7px 0 0 ;
    }
    
    &:hover &__image,
    &:focus &__image {
        transform: scale(1.4) rotate(5deg);
        transform-origin: center;
        
    }
    // contenido interno texto de las cards

    &__content {
        padding: 1em;
        text-align: center;
        
    }
    
    @media (min-width: 1024px) {
        & {
            min-width: 240px;
        }
    }
    
    
    @media (min-width: 426px) and (max-width: 768px) {
    
        & {
            min-width: 400px;
            max-width: 500px;
            height: 200px;
        }
    
        &__article {
            display: flex;
        }
    
    
        & &__image-container,
        & &__image-container {
            width: 40%;
            clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
        }
    
        &:hover &__image-container,
        &:focus &__image-container {
            width: 40%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    
    }



}

    .card__image--notebook,
    .card__image--pc,
    .card__image--print,
    .card__image--chair,
    .card__image--ups,
    .card__image--console,
    .card__image--volant,
    .card__image--tv,
    .card__image--auricular,
    .card__image--consoleport,
    .card__image--cel,
    .card__image--transf,
    .card__image--drone,
    .card__image--parlante,
    .card__image--home-theater{
        width: 100%;
        height: 100%;

             

    }
   
    .card__description > p {

        text-align: center;
        text-decoration: none;
        font-size: 14px;
        padding: .5em;
        color: #e27b4b;
    
    }     
   

