:root {
    
    --primarioOscuro: #302a31;
    --secundarioY: #FFCE00;
    --secundarioOscuro: rgb(233, 68, 2);
    

}

img {
    width: 100%;
    border-radius:1em;
    -webkit-box-shadow: inset 5px -16px 45px -7px rgba(79,28,13,1);
    -moz-box-shadow: inset 5px -16px 45px -7px rgba(79,28,13,1);
    box-shadow: inset 5px -16px 45px -7px rgba(79,28,13,1);
}

.us_h1{
    margin-top: 1em;
    text-align: center;
    font-size: 1.375em;
     border-radius: 0.625em;
    color:var(--gris);
    height: 2.5em;
    line-height: 2.1em;
    width: 55%;
    -webkit-box-shadow: inset 5px -16px 45px -7px rgba(237,94,23,1);
    -moz-box-shadow: inset 5px -16px 45px -7px rgba(237,94,23,1);
    box-shadow: inset 5px -16px 45px -7px rgba(237,94,23,1);
   

@media (min-width:320px) {
    &{
        
        margin-left: 6em;
    }
}
@media(min-width:768px){
    &{
        margin-left: 12em;
    }
}
}
.tobuy__title {
    text-align: center;
    color: var(--secundarioOscuro);
    font-size: 1.5em;
    
}
/** Nosotros **/
.us {
    margin-top: 2em;
    line-height: 2em;
    padding: 2em;
    display: grid;
    text-align: left;
    gap: 2em;
    grid-template-rows: repeat(1,2fr);
    color: var(--primarioOscuro);
    font-weight: bold;
    background-image: url(/img/fondos/paven.png);
    box-shadow: 10px 11px 9px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 10px 11px 9px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 11px 9px 1px rgba(0,0,0,0.54);
    
}
@media (min-width: 768px) {
    .us{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2em;
    }
}
.us__image {
    
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .us__image {
       grid-column: 2 / 3;
    }
}

/** Bloques **/
.bloks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
   
}
@media (min-width: 768px) {
    .bloks {
        grid-template-columns: repeat(4, 1fr);
    }
}
.blok__title{

    text-align: center;
    color: var(--secundarioOscuro);
    font-size: 20px;
    
}
.blok {
    text-align: left;
    font-size: 0.875em;
    color: var(--primarioOscuro);
    margin-left: 0.625em;
    padding: 1em;
    // margin-bottom: 10px;
}
.blok__image{
    background-color: var(--primarioOscuro);
    width: 10em;
    height: 6em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    
   
}
.blok__title {
    margin-bottom: 0.625em;
}


